# Node
node_modules/
frontend/node_modules/

# Python
__pycache__/
*.pyc
db.sqlite3

# Virtual Environment
venv/

# Env
.env

# Mac
.DS_Store

# Build
build/
dist/

# Python virtual env (double safety)
*/venv/

# Django stuff
*.log
staticfiles/

# OS / editor
.vscode/
.idea/

# Environment variables
.env.local
.env.*.local